.bg-primary {
  background-color: #042c70 !important;
}
.heading {
  /* color: #042c70 !important;
  font-size: 80px; */
  font-size: 5rem;
}

.textColor {
  color: #042c70 !important;
}

.headingTwo {
  /* font-size: 50px; */
  font-size: 3.5rem;
}

.accordion {
  --bs-accordion-active-bg: rgb(231, 231, 231);
  --bs-accordion-btn-bg: rgb(231, 231, 231);
  --bs-accordion-btn-icon: none;
  --bs-accordion-btn-active-icon: none;
  --bs-accordion-btn-focus-box-shadow: none;
}

input[type="checkbox"]:checked {
  background-color: #042c70;
  border: #042c70;
  box-shadow: rgb(255, 255, 255) 0px 0px 6px 0px;
}
